.container {
    padding: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;

    .card{
        text-align: center;
        padding: 10px;
        width: 40%;

        &-fields {
            display: block;
            width: 100%;
        }
    }
}

.tableSection {
    padding: 20px;

    .table {
        width: 100%;
    }
}